/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body.dokan-dashboard #woocommerce-order-items table tr th.item {
  width: 60% !important;
}


body.dokan-dashboard #woocommerce-order-items table tr th:nth-child(2),
body.dokan-dashboard #woocommerce-order-items table tr th:nth-child(3),
body.dokan-dashboard #woocommerce-order-items table tr th:nth-child(4),
body.dokan-dashboard #woocommerce-order-items table tr th:nth-child(5)
{
  width: 10%;
}


body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.thumb {
  width: 10%;
}
body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.name {
  width: 50%;
}

body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.item_cost,
body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.quantity,
body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.line_cost,
body.dokan-dashboard #woocommerce-order-items table.woocommerce_order_items tr td.wc-order-edit-line-item
{
  width: 10%;
}

body.dokan-dashboard table.wc-order-totals {
  border-top: solid 2px #ccc;
  margin-top: 20px;
  width: 300px;
}
body.dokan-dashboard table.wc-order-totals tr td {
  width: 25%;
  text-align: right;
}
body.dokan-dashboard table.wc-order-totals tr td:first-child {
  width: 50%;
}

body.woocommerce-checkout table.woocommerce-checkout-review-order-table th.product-name { width: 60%; }
body.woocommerce-checkout table.woocommerce-checkout-review-order-table th.product-total {
  width: 40%;
  text-align: right;
}

body.woocommerce-checkout bdi {
  display: block;
  text-align: right;
}

ul#shipping_method li.form-check input,
ul#shipping_method li.form-check input label {
  cursor: pointer;
}
